@using OnlineShop.Core.Models.MessageModels
@using OnlineShop.Core.Provider
@{var settings = new Dictionary<string, string>();
if (ViewBag.BaseSetting != null)
{
    settings = (Dictionary<string, string>)ViewBag.BaseSetting;
}
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="@Url.Content("~/Content")/favicon.ico" />
    <meta name="author" content="">
    @if (settings != null && settings.ContainsKey(Constants.SettingWebsiteName))
    {
        <title>@settings[Constants.SettingWebsiteName] - @ViewBag.Title</title>
    }
    else
    {
        <title>OnlineShop - @ViewBag.Title</title>
    }
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/adminstyle")
    @Styles.Render("~/Content/datatables")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("styleHeaders", required: false)

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                @if (settings != null && settings.ContainsKey(Constants.SettingLogo))
                {
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Content")/logo.png" style="width: 55px; margin-top: -17px; float: left; margin-right: 10px; " /> @settings[Constants.SettingWebsiteName]</a>
                }
                
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>@User.Identity.Name  <i class="fa fa-caret-down"></i>
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="@Url.Action("Profile", "Users", new { area = "Administrator" })"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            
                            <li class="divider"></li>
                            <li>
                                @using (Html.BeginForm("Logout", "Home", new { area = "Administrator" },FormMethod.Post))
                                {
                                        <label>
                                            <i class="fa fa-sign-out fa-fw"></i> Logout
                                            <input value="Logout" type="submit" class="hidden"/>
                                        </label>
                                }
                            </li>
                        </ul>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Home", new { area = "Administrator" })"><i class="fa fa-sign-in fa-fw"></i> Login</a>
                    }

                <!-- /.dropdown-user -->
</li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index","Home", new { area = "Administrator" })"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index","Product", new { area = "Administrator" })"><i class="fa fa-mobile-phone fa-fw"></i> Product</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Category", new { area = "Administrator"} )"><i class="fa fa-list-ul fa-fw"></i> Category</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Orders", new { area = "Administrator" })"><i class="fa fa-list-alt fa-fw"></i> Orders</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Users", new { area = "Administrator" })"><i class="fa fa-users fa-fw"></i> Users</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Setting", new { area = "Administrator"} )"><i class="fa fa-wrench fa-fw"></i> Settings</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Coupon", new { area = "Administrator" })"><i class="fa fa-gift fa-fw"></i> Coupon</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="panel-body " id="notify-wrapper">
                @if (TempData.Keys.Contains(Constants.NotifyMessage))
                {
                    var message = (NotifyModel)TempData[Constants.NotifyMessage];
                    <div class="alert @(message.Result ? "alert-success" : "alert-danger") alert-dismissable">
                        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <span class="alert-content">@message.Message</span>
                    </div>
                }
            </div>
            @RenderBody()
        </div>

        <!-- /#page-wrapper -->
    </div>
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/datatables")
    <!-- /#wrapper -->
    @Scripts.Render("~/bundles/raphael")
    <script src="~/Scripts/js.cookie.js"></script>
    <script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
    <div class="modal fade" id="msgModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modal-header">Modal Header</h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="loadding-wrapper">
        <div id="loadding-spinner">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom spinner"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <script src="~/Scripts/common.js"></script>
    @RenderSection("scriptHeaders", required: false)

</body>
</html>

